.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 760px;
    color: rgb(200, 200, 200);
    font-weight: 500;

    img {
      height: 50px;
      object-fit: contain;
    }
  }
}
